
.projection-card{
    width: 450px;
    padding:30px;
    border: 3px solid black;
    border-radius: 14px;
}

.heading{

    font-size: 30px;
    font-weight: bold;
}

.top-section{

    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 15px;

}

.weight-tab{

    background-color:#FF8A2A;
    padding:0.1px;
    border-radius:6px;
}

.score{

    font-size: larger;
    font-weight:bold;    
}

.camMark-levels{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.footer-on-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 6%;
  border-radius: 12px;


}

.footer-text{

    margin-bottom: 10px;


}

.status{
    font-size: larger;
    font-weight:bold; 
}