
.top-nav{

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9b9090;
    padding: 10px;

}

.drop-down-menu{
    position: relative;
}

.drop-down-content{

    display: none;
    position: absolute;
    background-color: #9b9090;
    min-width: 100px;
    max-height:145px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    
}

.drop-down-content a{

    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;

}

.drop-down-content a:hover{background-color: #ddd;}

.drop-down-menu:hover .drop-down-content{display:block;}

.drop-down-menu:hover .drop-down-btn{
    background-color: rgba(0, 0, 0, 0.295);
    color: black;
}


.drop-down-btn{

    background-color: black;
    color: white;
    width: 100px;
    padding: 4px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
   


}

/* The second section of the page*/
.bar-line{

   background-color:white;
   width: 95%;
   height: 6px;
  
   overflow: hidden;
   border: 1px solid black;
   border-radius: 4px;

}

.bar-fill{

    height: 100%;
    width: 0;
    background-color:lightseagreen;
    border-radius: 4px;
    transition: width 8s ease;
    display: block;
}

.progress-bar-container{

    border:3px solid black;
    width: 240px;
    padding: 12px;
    margin-left: 2px;
    margin-top: 20px;
    border-radius: 20px;
 
    
}

.global-container{

    display: flex;
    gap: 13px;
    align-items: center;
}

.left{

    display: flex; 
    gap: 13px;
    align-items: center;
}

.right{

    display: flex;
    gap: 13px;
    align-items: center;
}


.left-card{

    border: 5px solid black;
    width: 500px;
    height: 450px;

}


.right-card{

    border: 5px solid black;
    width: 500px;
    height: 450px;
    
}

.cards-container{

    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    padding: 30px;
}