
/**The top nav bar**/
 


.card-content{

    margin-top:35px;
    padding: 3%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 360px;
}

.setting-btn:hover{

    background-color: rgb(85, 85, 235);
    padding: 1%;
    border-radius: 360px;
    color: white;
    transition: ease-in-out ;
    transition-duration: 0.5s;
    

}

.setting-btn{

    font-weight: bold;
}


/* setting form */




.bottom-card{

    margin-top: 50px;
    margin-left: 130px;
    width: 600px;
    padding-left: 40px;
    border-radius: 20px;
}


.setting-form-content{
    padding: 5%;
 
}

.form-titles{
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;
}



.form-first-section{

    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 12px;
}

label{ margin-bottom: 20px;}

.form-first-section input{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black ;
    height: 35px;
    border-radius: 8px;
    width: 220px;
    margin-top: 10px;

}



.form-middle-section input{
    border: 1px solid black ;
    height: 35px;
    border-radius: 8px;
    width: 468px;
    height: 35px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-bottom-section input{
    border: 1px solid black ;
    height: 35px;
    border-radius: 8px;
    width: 468px;
    height: 35px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}




